.headerContainer {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* Nav ocupa 100% da tela */
.nav {
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px; /* sรณ um pequeno respiro interno */
  box-sizing: border-box;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

/* Menu */
.menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Links */
.menu li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.menu a:hover {
  color: #0070f3; /* cor de destaque ao passar o mouse */
}