.card li {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-size: 25px;
    padding: 20px;
    padding-top: 80px;
}   

.card p {
    margin-top: 20px;
    text-align: center;
    color: #000000;
    font-size: 25px;
    font-weight: 700;
}



.card li:hover {
    color: #ff0202;
    transition: color 0.3s ease;
}

.card span {
    font-size: 25px;
    color: #ff0202;
}

.card ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.card ul :hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.titulo {
    margin: 20px;
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titulo:hover {
    color: #ff0202;
    transition: color 0.3s ease;
}